*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: white;
}
#background-image{
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/background.jpg);
        background-size: cover;
        background-position: center; 
}
.container{
    padding: 10px 10%;
}
/* .container-home{
    padding: 10px 10%;
    width: 100%;
    height: 80px;
    /* background: #702e2e; */
} */

#nav-bar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    /* background: #702e2e; */

}
#nav-bar{
    position: fixed;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 7vh;
    background: linear-gradient(rgba(66, 63, 63, 0.6),rgba(60, 58, 58, 0.6));
    z-index: 9999;
    bottom: 10%;

}
#nav-bar img{
    display: flex;
    margin-top: 5px;
    margin-left: 10%;
}
#nav-bar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 50px;
}
nav ul{
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a:hover{
    color: #ff004f;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    color: #ff004f;
}
.header-text img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 7vh;
    top: 7vh;
    
}
.header-text h3{
    margin-top: 6%;
    text-align: center;
    font-size: 40px;
    color: #ff004f;
}
.header-text h1{
    font-size: 80px;
    margin-top: 10px;
    text-align: center;
}
.header-text h1 span{
    color: #ff004f;
}
.header-text h4{
    font-size: 16px;
    color: bisque;
    text-align: center;
}
/* --------------ABOUT------------ */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2 p{
    font-size: 20px;
}
.about-col-2 p spana{
    margin-left: 72px;
}
.about-col-2 p span1{
    margin-left: 70px;
}
.about-col-2 p span2{
    margin-left: 90px;
}
.about-col-2 p span3{
    margin-left: 57px;
}
.about-col-2 p span4{
    margin-left: 50px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titltes{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 18px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 18px;
}
.tab-contents ul li p{
    margin: 5px 5px;
    font-size: 15px;
    color: #D0D3D4;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.btn-a{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-top: 10%;
    /* margin-left: 25%; */
    /* transition: background 0.5s;
    cursor: pointer;
    text-align: center; */
}
.btn-a.btn-b{
    display: inline-block;
    background-color: #ff004f;
}
/* ----------------skills--------------------------------------------------------------------- */
#my-skills{
    padding: 30px 0;
    font-size: 20px;
}
/* #vertical-line{
    width: 1px;
    height: 310px;
    background-color: #fff;
} */
.skill-container{
    width: 100%;
    margin-bottom: 10%;
}
.skill-title{
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-left: 40%; */
    /* margin: 30px 40%; */
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 3%;
}
.skill-col-left{
    flex-basis: 50%;
}
.skill-col-right{
    flex-basis: 50%;
}
.skills{
    width: 100%;
    height: 35%;
    max-width: 600px;
    padding: 0 20px;
    margin-left: 18%;
}
.skill-name{
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    /* text-transform: uppercase; */
    margin: 20px 0;
}
.skill-name img{
    border-radius: 50%;
    width: 4.5vh;
    height: 4.5vh;
    border: 2px solid #fff;
    display: inline;
}
.skill-bar{
    height: 14px;
    background: #ffffff;
    border-radius: 3px;
}
.skill-per{
    height: 14px;
    background: #ff004f;
    border-radius: 3px;
    position: relative;
    animation: fillBars 10s 1;
}
.skill-per::after{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    color: #080808;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 15px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 14px;
    background: #fff;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* ----------------experience------------------------------------------------------------- */
#experience{
    padding: 30px 0;
    font-size: 20px;
}
.exp-title{
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-left: 40%; */
    /* margin: 30px 40%; */
    font-size: 60px;
    margin-top: 3%;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.container-exp{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.container-exp:nth-child(1){
    animation-delay: 0s;
}
.container-exp:nth-child(2){
    animation-delay: 1.7s;
}
.container-exp:nth-child(3){
    animation-delay: 3.2s;
}
.container-exp:nth-child(4){
    animation-delay: 4.7s;
}


.text-box{
    padding: 20px 30px;
    background: #3d3b3b;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: #ffffff;
}
.left-container-exp{
    left: 0;
}
.right-container-exp{
    left: 50%;
}
.container-exp img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10px;
    background: #fff;
}
.right-container-exp img{
    left: -20px;
}
.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ff004f;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #3d3b3b;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: -1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #3d3b3b;
    left: -15px;
}



/* --------------service--------------------------------------------------------------------- */
#services{
    padding: 30px 0;
    font-size: 20px;
}
.top-title{
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-left: 40%; */
    /* margin: 30px 40%; */
    font-size: 60px;
    margin-top: 4%;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 70px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 05s;
}
.service-list div i{
    font-size: 60px;
    margin-bottom: 30px;
    /* margin-left: 35%; */
}
.service-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* --------------projecta----------------------------------------------------------------------------- */
#portfolio{
    padding: 50px 0;
    font-size: 20px;
}
.main-title{
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-left: 40%; */
    /* margin: 30px 35%; */
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 5%;
}
/* .sub-title{
    padding: 40px 0;
} */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 40px;
    margin-top: 0;
    margin-bottom: 4%;
}
.work-list:after {
	content: '';
	display: table;
	clear: both;
}
.work-1{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-2{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-3{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-1 img{
    width: 100%;
    /* height: 100% */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* margin-bottom: 10px; */
}
.work-2 img{
    width: 100%;
    /* height: 100% */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* margin-bottom: 10px; */
}
.work-3 img{
    width: 100%;
    /* height: 100% */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* margin-bottom: 10px; */
}
.container .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
}
.container .layer h3{
    font-weight: 500;
    margin-bottom: 5px;
}
.container .layer a{
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: height 0.10s;
}
.work-1:hover img{
    transform: scale(1.1);
}
.work-2:hover img{
    transform: scale(1.1);
}
.work-3:hover img{
    transform: scale(1.1);
}
.work-1:hover .layer{
    height: 100%;
}
.work-2:hover .layer{
    height: 100%;
}
.work-3:hover .layer{
    height: 100%;
}
.container .sub-title:after {
	content: '';
	display: table;
	clear: both;
}
.container .work-list:nth-child(1n + 5){
    max-height: 0;
    opacity: 0;
    transition: 0.2s ease-in;
}
.container .btn-area{
    display: flex;
    margin: 50px auto 0;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    cursor: pointer;
    text-align: center;
    margin-top: -90px;
}
.container .btn-area:hover{
    background: #ff004f;
}
.container .btn-area .btn2{
    display: none;
}
.container #btnBox{
    display: none;
}
.container #btnBox:checked~.work-list:nth-child(1n + 5){
	max-height: 500px;
	opacity: 1;
	transition: 0.2s ease-in;
}
/* -------------Review----------------------------------------------------------------------------------------- */
#review{
    padding: 30px 0;
    font-size: 20px;
}
:root{
    /* --color-dark: #151C35; */
    --color-secodary-dark: #464C70;
    --color-primary: #EE709D;
    --color-text: #8297E2;
    --color-light: #EBEBFB;
}
.container-review{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-review{
    max-width: 987px;
    width: 100%;
    background-color: var(--color-dark);
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}

.text-light{
    color: var(--color-light);
}

.swiper {
    width: 600px;
    height: auto;
  }

.swiper .swiper-slide .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments{
    color: #080808;
}

.swiper .swiper-slide .comments{
    background-color: var(--color-light);
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: '';
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-light);
    z-index: -99;
}


.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.swiper .profile img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    margin: 10px 0;
}

.swiper .profile > a{
    text-decoration: none;
    color: var(--color-light);
}

.swiper .profile > span{
    color: var(--color-text);
    font-size: .8em;
}

.swiper .swiper-button-prev, .swiper-button-next{
    color: var(--color-text);
    display: none;
} 

@media (min-width: 600px) {
    .board-review{
        width: auto;
    }

    .swiper {
        width: 600px;
      }

      /* .board-review > h1, p{
          padding: 0 2em;
      } */
}

@media (min-width: 768px) {
    .board-review{
        width: 100%;
    }

    .swiper {
        width: 600px;
      }

    .swiper .swiper-button-prev, .swiper-button-next{
        display: initial;
    }

}

/* --------------contact------------ */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    margin-left: 25%;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.socal-icon{
    margin-top: 30px;
    margin-left: 50%;
}
.socal-icon a{
    gap: 20px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.socal-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-left: 25%;
    /* transition: background 0.5s;
    cursor: pointer;
    text-align: center; */
}
.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 60%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    margin-left: 25%;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* ---------css for small screen--------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text h1{
        font-size: 45px;
        margin-top: 10px;
    }
    .header-text img{
        top: 12vh;
    }
    .header-text h3{
        font-size: 30px;
        margin-top: 150px;
    }
    .header-text h4{
        font-size: 15px;
        margin-top: 10px;
    }
    nav .fa-solid{
        display: block;
        font-size: 30px;
        margin-right: 5%;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 60vh;
        padding-top: 50px;
        margin-right: 0;
        z-index: 2;
        transition: right 0.5s;
        
    }
    nav ul li a:hover{
        color: #ffffff;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
    }
    .main-title{
        font-size: 40px;
    }
    .top-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .work:hover .layer{
        height: 100%;
    }
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container-exp{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container-exp{
        left: 0;
    }
    .left-container-exp img, .right-container-exp img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #3d3b3b;
        border-left: 0;
        left: -15px;
    }
    .container .btn-area{
        margin: -25px auto;
        padding:  10px;
        font-size: 15px;
        margin-left: 40%;
    } 
    .skills{
        margin-left: 0%;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        grid-gap: 30px;
        margin-top: 0;
        margin-bottom: 2%;
        /* grid-template-rows: repeat(auto-fit, minmax(200px,1fr)); */
        z-index: 100;
    }
    .work-3{
        display: none;
    }
 }

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    margin-left: 26%;
}
